mixin modal(label, button, title, text)
    - var name = 'modal-' + label
    label.button(for=name)=button
    div.modal
        input(id=name type='checkbox')
        label.overlay(for=name)
        div
            header
                h2=title
            article
                p=text
            footer
                label.button.primary(for=name) OK

mixin tab(label, group, isOpen)
    div.tab
        - var name = 'tab-' + label;
        input(
            id=name
            type='radio'
            name='tab-group-' + group
            checked=isOpen
            autofocus=isOpen
        )
        label(for=name)
        div
            if block
                block
            else
                p No content.

mixin gallery(label, image, group, isSelected)
    div.gallery
        - var name = 'gallery-' + label;
        input(
            id=name
            type='radio'
            name='gallery-group-' + group
            checked=isSelected
            autofocus=isSelected
        )
        label(for=name)
            img(src=image)
        div
            img(src=image)

doctype html
html(lang='en')
    head
        meta(charset='utf8')
        title='CSS Demo'
        link(rel='stylesheet' href='main.css')
    body
        div.container
            article
                +tab('intro', 'page', true)
                    div.titlepage
                        h1 CSS Demo
                        span “ the checkbox hack ”

                +tab('css', 'page')
                    h1 Hva er CSS?
                    div.multicolumn
                        ul
                            li Cascading Style Sheet
                            li Definere utseende
                            ul
                                li HTML
                                li XML
                            li Utseende vs. struktur
                        div
                            p Eksempelkode:
                            pre
                                code.
                                    div {
                                        width: 800px;
                                        height: 600px;
                                        background-color: solid #000;
                                    }

                +tab('hack', 'page')
                    h1 Hvordan funker det?
                    .multicolumn
                        pre
                            code.
                                #{'<label for="toggle-1">Halla</label>'}
                                #{'<input type="checkbox" id="toggle-1">'}
                                #{'<div></div>'}

                                #{'input[type=checkbox] {'}
                                #{'    display: none;'}
                                #{'}'}

                                #{'div {'}
                                #{'    background: green;'}
                                #{'    width: 400px;'}
                                #{'    height: 400px;'}
                                #{'}'}

                                #{'input[type=checkbox]:checked~div {'}
                                #{'    background: red;'}
                                #{'}'}
                        div.eksempel
                            label(for='toggle-1') Trykk her
                            input(type='checkbox' id='toggle-1')
                            div
                        


                +tab('modal', 'page')
                    h1 Modal 
                    +modal(
                        'modal',
                        'Ikke en knapp!',
                        'This is a test!',
                        'Along with some data.'
                        )

                +tab('gallery', 'page')
                    h1 Bildegalleri
                    +gallery('banner', 'svett-banner.png', 'example', true)
                    +gallery('logo', 'svett-logo.png', 'example')

                +tab('credits', 'page')
                    h1 Credits
                    ul
                        li Inspirert av 
                            a(
                                href='https://picnicss.com/'
                                target='_blank'
                            ) Picnic CSS

                        li Ideer fra 
                            a(
                                href='https://css-tricks.com/the-checkbox-hack/'
                                target='_blank'
                            ) Stuff you can do with the “Checkbox Hack”

        footer
            img(src='svett-banner.png')
